
.dhoFwU .amount-input {
    margin-top: 0.5rem;
}
.kDuLvp .input-label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1em;
    font-size: 12.76px;
    height: 1.25rem;
    margin: 0px 0.75rem 0.375rem;
    color: rgba(153, 164, 176, 0.6);
}

.dhoFwU .amount-input .input-control {
    height: 3.5rem;
}
.kDuLvp .input-control {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 1.25rem;
    border: 1px solid rgb(45, 48, 53);
    background-color: rgba(45, 48, 53, 0.5);
    height: 3.5rem;
    padding: 0px 1.25rem;
    opacity: 1;
}
.dhoFwU .amount-input .input-after {
    margin-top: 0.125rem;
    font-size: 0.75rem;
    margin-bottom: 0px;
    cursor: auto;
}
.lkOmCH {
    padding: 0.3125rem 0.625rem 0.3125rem 1.25rem;
    width: 9.0625rem;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    border-left: 1px solid rgb(45, 48, 53);
}
.dETeez .coin-icon {
    width: 1.875rem;
    height: 1.875rem;
    display: inline-block;
    vertical-align: top;
}
.dETeez .currency {
    flex: 1 1 auto;
    margin-left: 0.9375rem;
    font-size: 1rem;
    font-weight: 800;
    color: rgb(245, 246, 247);
}
.dhoFwU .amount-input .input-after {
    margin-top: 0.125rem;
    font-size: 0.75rem;
    margin-bottom: 0px;
    cursor: auto;
}
.kDuLvp .input-after {
    margin: 0px 0.75rem 0.375rem;
}
.dhoFwU .people-input {
    margin-top: 1rem;
}
.dETeez .input-control input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
    font-size: 0.9375rem;
    outline: none;
}
.kDuLvp .input-control textarea, .kDuLvp .input-control input {
    flex: 1 1 0%;
    width: 100%;
    outline: none;
    height: 100%;
    min-width: 1rem;
    padding: 0px;
    border: none;
    background-color: transparent;
    color: rgb(245, 246, 247);
}
.dhoFwU .input .min-number {
    color: rgba(153, 164, 176, 0.6);
}
.kDuLvp {
    margin-top: 1rem;
}
.kDuLvp .input-label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1em;
    height: 1.25rem;
    margin: 0px 0.75rem 0.375rem;
    color: rgba(153, 164, 176, 0.6);
}

.dhoFwU .input.send-textarea .input-control {
    height: 8.5rem;
}
.kDuLvp .input-control textarea {
    padding: 1.125rem 0px;
}
.dhoFwU .input.send-textarea .input-control .send-len {
    position: absolute;
    right: 1.25rem;
    bottom: 0.625rem;
    font-size: 0.75rem;
    color: rgba(153, 164, 176, 0.6);
}
.dhoFwU .show-amount {
    margin-top: 1.75rem;
    height: 1.875rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.dhoFwU .show-amount .amount-num {
    color: rgb(245, 246, 247);
}
.dhoFwU .show-amount .cl-primary {
    color: rgb(67, 179, 9);
    margin-left: 0.25rem;
}
.dhoFwU .button {
    width: 19.75rem;
    font-weight: bold;
    margin: 1.75rem auto 0px;
}
